---
import Layout from "../../layouts/Layout.astro"
import Preview from "../../components/Preview.astro"

// collection
import categoryData from "../../data/categories.json"

export function getStaticPaths() {
  const allPosts = Astro.fetchContent('../posts/*.md');
  let allCategoriesUnique = [...new Set(allPosts.map(p => p.category))];
  return allCategoriesUnique.map(category => ({params: {category}, props: {allPosts}}));
}

const { allPosts } = Astro.props;
const { params } = Astro.request;

const title = categoryData[params.category].name;
const description = categoryData[params.category].description;
const permalink = Astro.request.canonicalURL.toString();

const posts = allPosts
  .filter((post) => post.category === params.category)
  .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
const categories = allPosts.map((post) => post.category);
---
<Layout 
  title={title}
  description={description}
  permalink={permalink}
  categories={categories}>
  <h1 class="text-center text-4xl font-bold mb-14">{title}</h1>
  {posts.map(p => <Preview post={p} />)}
</Layout>
