---
export interface Props {
  author: string;
  category: string;
  publishDate: string;
}

const { author, category, publishDate } = Astro.props;
let page = Astro.fetchContent('../pages/authors/*.md').find((el) => el.file.href.endsWith(author));
---
<div class="space-x-2 mb-6">
  <div class="inline-block mr-2">
    <a href={page.url}>
      <img class="h-10 md:h-11 lg:h-12 rounded-full ring-1 ring-gray-900 dark:ring-gray-100" src="/assets/authors/thomas.png" alt="Thomas Stachl" />
    </a>
  </div>
  <div class="inline-block">
    <h6 class="font-bold"><a href={page.url}>{page.title}</a></h6>
    <p class="align-middle">
      <span class="inline-block align-middle mr-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </span>
      <span class="inline-block align-middle">
        {category} - <time datetime={publishDate}>{new Intl.DateTimeFormat('en-US', { weekday: "short", month: "long", day: "numeric", year: "numeric" }).format(new Date(publishDate))}</time>
      </span>
    </p>
  </div>
</div>
