---
import { site } from "@content/config"
import { formatCanonicalURL } from "@utils/data-utils"
import "../styles/global.css"

export type Props = {
  title?: string
  description?: string
  pageType?: "website" | "article"
}

const { description = "", pageType = "website" } = Astro.props
const title = [Astro.props.title || description, site.title]
  .filter(Boolean)
  .join(" | ")
const canonicalURL = new URL(Astro.request.url, Astro.site)
---

<!-- High Priority Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="generator" content={Astro.generator} />

<!-- Low Priority Global Metadata -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />

<!-- Theme Color for mobile Safari -->
<meta
  name="theme-color"
  content="#d1d5db"
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content="#111827"
  media="(prefers-color-scheme: dark)"
/>

<!-- Page Metadata -->
<link rel="canonical" href={formatCanonicalURL(canonicalURL)} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={pageType} />
<meta property="og:url" content={formatCanonicalURL(canonicalURL)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- X/Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={formatCanonicalURL(canonicalURL)} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
