---
export interface Props {
  src: string;
  alt: string;
  className?: string;
  title?: string;
  mode?: string;
  width?: string;
  height?: string;
}

let { src, alt, title, mode, width, height, className = 'rounded-md' } = Astro.props;

let container = 'hidden js:block';

if (!src.startsWith('http')) {
  src = Astro.site.origin + src;
}

if (title === undefined || title === '') {
  title = alt;
}

if (mode === 'float-lg') {
  className = `${className} float-left -ml-12 w-1/2 mr-8 lg:mr-12`;
}

if (mode === 'float-md') {
  className = `${className} float-left -ml-12 w-1/4 mr-8 lg:mr-12`;
}

if (mode === 'float-sm') {
  className = `${className} float-left -ml-12 w-1/6 mr-8 lg:mr-12`;
}

if (mode === 'pull') {
  container = `${container} -mx-12`;
  className = `${className} w-full`;
}

---
<div class={container}>
  <img class={className} data-src={src} alt={alt} title={title} width={width} height={height} />
</div>