---
import BaseLayout from "../layouts/BaseLayout.astro"
import PostPreview from '../components/PostPreview.astro';

const { title, description, permalink } = Astro.props.content;

interface MarkdownFrontmatter {
  date: string;
  category: string;
}

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('../pages/posts/*.md');
allPosts = allPosts.filter((el) => el.category === title).sort((a, b) => {
  return new Date(b.date).valueOf() - new Date(a.date).valueOf()
});
---
<BaseLayout 
  title={title}
  description={description}
  permalink={permalink}>
  <h1 class="text-center text-4xl font-bold mb-14">{title}</h1>
  {allPosts.map(p => <PostPreview post={p} />)}
</BaseLayout>