---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

export interface Props {
  title: string;
  description: string;
  permalink: string;
  categories: Array<string>;
}

let { title, description, permalink, categories } = Astro.props;
let { DOMAIN } = process.env;

DOMAIN = DOMAIN ? DOMAIN.split('/').pop() : "stachl.pages.dev";

if (!title.endsWith('Thomas Stachl')) title += ' - Thomas Stachl';

---
<html lang="en">

  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={permalink} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/thomas.png?ver=1" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={permalink} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/thomas.png?ver=1" />

    <!-- Styles -->
    <style global>
      @import "../styles/global.css";
    </style>

    <!-- Theme Toggle & Gumlet -->
    <script type="text/javascript" id="g" data-domain={DOMAIN}>
      document.documentElement.classList.add('js');
      "dark"!==localStorage.theme&&("theme"in localStorage||!window.matchMedia("(prefers-color-scheme: dark)").matches)||document.documentElement.classList.add("dark");
      window.GUMLET_CONFIG={hosts:[{current:document.getElementById('g').dataset.domain,gumlet:"stachl.gumlet.io"}],lazy_load:!0},d=document,s=d.createElement("script"),s.src="https://cdn.gumlet.com/gumlet.js/2.1/gumlet.min.js",s.async=1,d.getElementsByTagName("head")[0].appendChild(s);
    </script>

    <link rel="alternate" type="application/rss+xml" title="Subscribe to Thomas" href="/feed.xml" />
  </head>

  <body class="min-h-screen md:text-lg lg:text-xl
    bg-gray-100 text-gray-800 
    dark:bg-gray-900 dark:text-gray-300">
    <Header categories={categories} />

    <main class="md:mx-auto max-w-screen-lg pt-14 px-4">
      <slot />
    </main>

    <Footer />
  </body>
</html>
