---
import Layout from '../layouts/Layout.astro';
import Meta from '../components/Meta.astro';
import Banner from '../components/Banner.astro';

// page
const { content } = Astro.props;
const { title, description, date, banner, category } = content;
let canonicalURL = Astro.request.canonicalURL.toString();
---
<Layout title={title} description={description} permalink={canonicalURL}>
  <article class="mx-8 mb-24">
    <h1 class="text-4xl font-bold mb-4">{title}</h1>
    <Meta category={category} publishDate={date} />
    <div class="-mx-8">
      <Banner srcs={banner} />
    </div>
    <section class="prose dark:prose-dark prose-lg lg:prose-xl xl:prose-2xl">
      <slot />
    </section>
  </article>
</Layout>
